.testimonials-container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding-bottom: 5rem;

	h1 {
		padding-bottom: 12rem;
		@media only screen and(max-width: 1350px) {
			padding-bottom: 9rem;
		}
		@media only screen and(max-width: 1100px) {
			padding-bottom: 3rem;
		}
	}
}

.alumni-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	@media only screen and(max-width: 1100px) {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.alumni-card {
		position: relative;
		text-align: center;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		background-color: white;
		width: 409px;
		height: 500px;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		@media only screen and(max-width: 1300px) {
			width: 330px;
			height: 480px;
		}
		@media only screen and(max-width: 1100px) {
			width: 500px;
			height: 350px;
			margin: 3.5rem 0;
		}
		@media only screen and(max-width: 650px) {
			width: 350px;
			height: 400px;
		}
		@media only screen and(max-width: 340px) {
			width: 300px;
		}

		.alumni-info {
			.alumni-name {
				padding-top: 10px;
			}

			.alumni-title {
				font-size: 0.9rem;
				font-weight: normal;
				padding-top: .2rem;
				color: lightslategray;
			}

			.alumni-program {
				font-size: 1rem;
				font-weight: normal;
				padding-top: .2rem;
				color: rgb(145, 160, 175);
			}
		}

		.alumni-image-container {
			position: absolute;
			top: -59px;

			.alumni-image {
				box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
				border-radius: 50%;
			}
		}

		.alumni-desc {
			width: 90%;
			line-height: 25px;
			margin-top: -120px;
			@media only screen and(max-width: 1300px) {
				line-height: 25px;
				width: 85%;
			}

			.alumni-bold {
				color: rgb(108, 105, 105);
				font-size: large;
			}

			.alumni-quotation {
				color: rgb(108, 105, 105);
				font-size: 30px;
			}

		}

		&:nth-child(2) {
			position: relative;
			top: -50px;
			@media only screen and(max-width: 1100px) {
				top: 0;
			}
		}
	}
}

.alumni-social-icon {
	cursor: pointer;
	display: inline-block;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	border-radius: 100%/100%;
	border: solid 2px white;

	&:nth-child(2) {
		margin: 0 3rem;
	}

	font-size: 1.3rem;
	@media only screen and(max-width: 650px) {
		font-size: 1.1rem;
	}
	@media only screen and(max-width: 340px) {
		font-size: 1rem;
		padding: .7rem;
	}
	transition: border .7s;

	&:hover:nth-child(1) {
		border-color: #17a9fc;
	}

	&:hover:nth-child(2) {
		border-color: #0a66c2;
	}

	&:hover:nth-child(3) {
		border-color: #c72d8e;
	}
}
