.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	color: white;
	padding: 2rem 0;
	@media only screen and(max-width: 650px) {
		padding: 3rem 0;
	}
	@media only screen and(max-width: 340px) {
		padding: 2rem 0;
	}
}

.top-section {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: row;

	padding-bottom: 3rem;

	width: calc(100% - 12em);

	p {
		padding-top: 0.3rem;
		font-size: 0.9rem;
		color: white;
		line-height: 20px;
		@media only screen and(max-width: 650px) {
			font-size: 0.5rem;
			line-height: 12px;
		}
		@media only screen and(max-width: 340px) {
			font-size: 0.6rem;
			line-height: 12px;
		}
	}
}

.socials-container {
	display: flex;
	padding-bottom: 3rem;
}

.logo-footer-container {
	width: 50%;
	// background-color: white;
	@media only screen and(max-width: 850px) {
		width: 350px;
	}
	@media only screen and(max-width: 750px) {
		width: 200px;
	}

	img {
		width: 100%;
		max-width: 150px;
		height: auto;
	}
}

.top-containers {
	// align-self: flex-end;
	// background-color: white;
	width: 20%;
	padding-left: 2rem;
	@media only screen and(max-width: 750px) {
		width: 150px;
	}
	@media only screen and(max-width: 850px) {
		width: 200px;
	}
}

.text-footer-container {
	width: 30%;
}

.social-icon {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 50%;
	border: solid 2px white;

	&:nth-child(2) {
		margin: 0 2rem;
	}

	font-size: 1.3rem;
	@media only screen and(max-width: 650px) {
		font-size: 1.1rem;
	}
	@media only screen and(max-width: 340px) {
		font-size: 1rem;
		padding: 0.7rem;
	}
	transition: border 0.7s;

	&:hover:nth-child(1) {
		border-color: #17a9fc;
	}

	&:hover:nth-child(2) {
		border-color: #0a66c2;
	}

	&:hover:nth-child(3) {
		border-color: #c72d8e;
	}
}

hr {
	display: inline-block;
	width: calc(100% - 8em);
	margin-bottom: 2rem;
}
