.history-container {
	margin-top: $navHeightLg;
	position: relative;
	@media only screen and(max-width: 650px) {
		margin-top: $navHeightSm;

	}

	h1 {
		padding-bottom: 6rem;
	}
}

.history-events-container {
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-row-gap: 8rem;
	padding-bottom: 5rem;
	@media only screen and(max-width: 650px) {
		grid-template-columns: 1fr;
	}
}

.main-timeline {
	position: relative;
	width: 6px;
	height: 100%;
	background-color: #222831;
	grid-column: 1/2;
	grid-row: 1/5;
	@media only screen and(max-width: 650px) {
		display: none;
	}
}

.timeline-1 {
	position: relative;
	width: 6px;
	height: 100%;
	background-color: #222831;
	grid-column: 1/2;
	grid-row: 1/2;
	@media only screen and(max-width: 650px) {
		display: none;
	}
}

.timeline-2 {
	@extend .timeline-1;
	grid-row: 2/3;
}

.timeline-3 {
	@extend .timeline-1;
	grid-row: 3/4;
}

.timeline-3 {
	@extend .timeline-1;
	grid-row: 3/4;
}

.timeline-4 {
	@extend .timeline-1;
	grid-row: 4/5;
}

.dot {
	width: 60px;
	height: 60px;
	background-color: #222831;
	border-radius: 50%;
	position: relative;
	left: -28px;
}

.event {
	display: flex;
	justify-content: space-between;
	@media only screen and(max-width: 1100px) {
		flex-direction: column;
	}
	@media only screen and(max-width: 650px) {
		width: 350px;
		justify-content: center;
		text-align: center;
	}
	@media only screen and(max-width: 340px) {
		width: 300px;
	}

	.event-image {
		display: flex;
		width: 508px;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		@media only screen and(max-width: 1100px) {
			margin-top: 2rem;
		}
		@media only screen and(max-width: 650px) {
			width: 350px;
		}
		@media only screen and(max-width: 340px) {
			width: 300px;
		}
	}

	.event-content {
		position: relative;
		width: 500px;
		padding-right: 4rem;
		@media only screen and(max-width: 1100px) {
			padding: 0;
		}
		@media only screen and(max-width: 650px) {
			width: 350px;
			margin: auto;
		}
		@media only screen and(max-width: 340px) {
			width: 300px;
		}

		.event-point {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background-color: #222831;
			top: 0;
			left: -11.35rem;
			position: absolute;
		}

		h2 {
			font-size: 2.5rem;
		}

		h3 {
			font-weight: normal;
			font-size: 1.5rem;
		}

		p {
			padding-top: 2rem;
			font-weight: normal;
			line-height: 30px;
			font-size: 1.1rem;
		}
	}
}
