.about-us-container {
	margin-top: $navHeightLg;
	height: calc(80vh - $navHeightLg);
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: flex-start;
	min-height: calc(80vh - $navHeightLg);
	padding-top: 4rem;

	@media only screen and(max-width: 1100px) {
		grid-template-columns: 1fr;
	}
	@media only screen and(max-width: 650px) {
		width: 100%;
		padding-bottom: 6rem;
		margin-top: $navHeightSm;
		min-height: calc(100vh - $navHeightSm);
	}
}

.info-illustration {
	@media only screen and(max-width: 1300px) {
		width: 300px;
		justify-self: flex-end;
		position: relative;
		top: 3rem;
	}
	@media only screen and(max-width: 1100px) {
		width: 300px;
		justify-self: center;
		position: relative;
		top: 3rem;
	}
}

.info-container {
	@media only screen and(max-width: 1100px) {
		width: 80%;
	}
	@media only screen and(max-width: 650px) {
		width: 350px;
	}
	@media only screen and(max-width: 428px) {
		padding: 1rem 0;
	}
	@media only screen and(max-width: 475px) {
		width: 310px;
	}

	.info-title-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.info-title {
			text-align: left !important;
			padding: 0;
		}

		.info-about-subheading {
			padding: 1rem 0 3rem 0;
		}
	}
}
