.members-gain-container {
	height: 100%;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		color: white;
		padding-bottom: 4rem;
	}
}

.benefits-container {
	display: grid;
	grid-gap: 3rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	@media only screen and(max-width: 1350px) {
		grid-gap: 1.5rem;
	}
	@media only screen and(max-width: 1100px) {
		grid-template-columns: 1fr 1fr;

	}
	@media only screen and(max-width: 650px) {
		grid-template-columns: 1fr;
	}

	.card {
		background: white;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		// box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		width: 300px;
		height: 400px;
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-radius: 2rem;
		@media only screen and(max-width: 1350px) {
			width: 250px;
			height: 350px;
		}
		@media only screen and(max-width: 1100px) {
			width: 300px;
		}
		@media only screen and(max-width: 340px) {
			width: 280px;
		}

		.card-desc {
			padding: 0 1.2rem;
			line-height: 23px;
		}
	}
}
