.contact-container {
	margin-top: $navHeightLg;
	height: calc(100vh - $navHeightLg);
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	min-height: calc(100vh - $navHeightLg);
	padding-bottom: 2rem;

	@media only screen and(max-width: 1100px) {
		grid-template-columns: 1fr;
	}
	@media only screen and(max-width: 650px) {
		width: 100%;
		padding-bottom: 6rem;
		margin-top: $navHeightSm;
		min-height: calc(100vh - $navHeightSm);
	}
}

.contact-subheading {
	font-size: 1.5rem;
	@media only screen and(max-width: 650px) {
		font-size: 1.2rem;
	}
}

.email-address {
	color: #0072ff;
}

.contact-info {
	@media only screen and(max-width: 1100px) {
		width: 80%;
	}
	@media only screen and(max-width: 650px) {
		width: 350px;
	}
	@media only screen and(max-width: 428px) {
		padding: 1rem 0;
	}
	@media only screen and(max-width: 475px) {
		width: 310px;
	}

	.contact-title-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.contact-title {
			text-align: left;
			padding: 0;
		}

		.contact-subheading {
			padding: 1rem 0 3rem 0;
		}
	}
}

.inputs-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1.5rem;
	@media only screen and(max-width: 1100px) {
		display: flex;
		flex-direction: column;
	}

	.contact-input {
		border-radius: 0.5rem;
		border: solid 2px lightgrey;
		height: 50px;
		font-size: 1.2rem;
		padding-left: 1.2rem;
		@media only screen and(max-width: 1100px) {
			font-size: 1.4rem;
			padding: 0.8rem 0 0.8rem 1.2rem;
		}
		@media only screen and(max-width: 650px) {
			font-size: 1.2rem;
			padding: 0.2rem 0 0.2rem 1.2rem;
		}
	}

	.message-input {
		height: 150px;
		display: flex;
		align-items: flex-start;
		padding-top: 1rem;
		resize: none !important;
		@media only screen and(max-width: 650px) {
			height: 100px;
		}
	}
}

.send-email {
	width: 100%;
	background-color: #0072ff;
	border: none;
	color: white;
	padding: 1rem 0;
	margin-top: 1.5rem;
	border-radius: 0.5rem;
	letter-spacing: 5px;
	font-size: 1.2rem;
	cursor: pointer;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
	rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.send-email-disabled {
	background-color: lightslategray;
}

.error-email {
	color: #d9544f;
	font-weight: bold;
}

.email-illustration {
	@media only screen and(max-width: 1300px) {
		width: 300px;
		justify-self: flex-end;
		position: relative;
		top: 3rem;
	}
	@media only screen and(max-width: 1100px) {
		display: none;
	}
}
