$navHeightLg: 104px;
$navHeightMd: 104px;
$navHeightSm: 70px;
* {
	font-family: "Source Sans Pro", sans-serif;
	scroll-behavior: smooth;
}

h1 {
	@media only screen and(max-width: 340px) {
		font-size: 1.7rem;
	}
}

p,
button,
input,
textarea {
	font-family: "Quicksand", sans-serif;
}

html {
	overflow-x: hidden;
}

.index-container {
	position: relative;
}

.container {
	max-width: 1340px;
	margin: auto;
	@media only screen and(max-width: 1400px) {
		max-width: 1100px;
	}
	@media only screen and(max-width: 1100px) {
		max-width: 1000px;
	}
	@media only screen and(max-width: 900px) {
		max-width: 900px;
	}
	@media only screen and(max-width: 650px) {
		max-width: 620px;
	}
	@media only screen and(max-width: 428px) {
		max-width: 400px;
	}
}

.section-title {
	padding-top: 5rem;
	padding: 5rem 1.5rem 0 1.5rem;
	text-align: center;
	font-size: 3rem;
	@media only screen and(max-width: 1300px) {
		padding-top: 1rem;
	}
}

.layout-container {
	width: 100vw;
	position: relative;
}

@media only screen and(max-width: 1300px) {
}

@media only screen and(max-width: 1100px) {
}

@media only screen and(max-width: 650px) {
}

@media only screen and(max-width: 340px) {
}

@import "nav";
@import "home";
@import "whatIsQTMA";
@import "products";
@import "ourTeamStructure";
@import "membersGain";
@import "programTimeline";
@import "alumni";
@import "sponsors";
@import "footer";
@import "history";
@import "placements";
@import "team";
@import "reports";
@import "contact";
@import "info";
@import "product";
@import "products2";
